

body.page-add-event #motor-form {
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.dtp-btn-cancel,
.dtp-btn-ok {
	width: 100%;
    height: 65px;
    background: red;
    font-size: 2em;
}

#time, #amount, #event {
	font-size: 3em;
	text-align: center;
}

.change, .reset, .change-event, .page-add-event .form-submit {
	width: 120px;
	height: 60px;
	font-size: 3em;
	color: #fff;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.change-event {
	width: auto;
	padding:0 20px;
}

.page-add-event .form-submit {
	margin-top: 20px;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

.dtp > .dtp-content {
	max-width: none;
	max-height: none;
	width: 50%;
}

.dtp-select-hour-text {
	font-size: 2em;
}

.view-events {
	font-size: 2em;
}

.view-events .views-field-nothing-1,
.view-events .views-field-nothing {
	display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.view-events .views-field-nothing-1 a,
.view-events .views-field-nothing a {
	display: block;
  font-size: 0;
  width:100px;
  text-decoration: none;
}

.view-events .views-field-nothing a::before {
  content: "\f044";
  font-size: 30px;
}

.view-events .views-field-nothing-1 a::before {
  content: "\f00d";
  font-size: 30px;
}

#custom-handle {
    width: 3em;
    height: 2.1em;
    top: 43%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  #slider-hour, #slider-min {
  	height: 50px;
  }

  #block-motor-charts {
  	overflow: -webkit-paged-x;
  }

  .cblock {
  	w idth: 30px;
  	height: 100px;

  	float: left;
  }

  .cblock-top {
  	w idth: 30px;
  	height: 80px;

  	position: relative;
  }

  .cblock-bottom {
  	width: 20px;
	height: 220px;
	position: relative;
  	
  }

  .cblock-bottom span {
  	transform: rotate(90deg);
    display: block;
    width: 100px;
    position: absolute;
    top: 49px;
    left: -37px;
  }

  .cblock-bar {
  	position: absolute;
  	bottom: 0;
  	width: 5px;
  	height: 20px;
  	background: red;
	left: 50%;
  }
